<footer class="grey darken-4">
  <div class="container white-text">
  	<div>&nbsp;</div>
    <div>&nbsp;</div>
  	<div class="row">
      <div class="col s12 m3 l2">
        <h5>About Us</h5>
        <ul>
          <li><a href="#">who we are?</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Locations</a></li>
        </ul>
      </div>
      <div class="col s12 m3 l2">
        <h5>For Doctors</h5>
        <ul>
          <li><a href="#">For Doctors</a></li>
          <li><a href="#">Practice Management</a></li>
          <li><a href="#">Software EMR</a></li>
          <li><a href="#">Software Appointment</a></li>
          <li><a href="#">Scheduling Software</a></li>
          <li><a href="#">Medical Billing Software</a></li>
          <li><a href="#">Patient SMS Software</a></li>
        </ul>
      </div>
      <div class="col s12 m3 l2">
        <h5>Support</h5>
        <ul>
          <li><a href="#">Know more</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
      </div>
      <div class="col s12 m3 l3">
        <h5>Connect</h5>
        <ul class="list-inline">
          <li><a href="#" class="fb-icon"></a></li>
          <li><a href="#" class="twitter-icon"></a></li>
          <li><a href="#" class="in-icon"></a></li>
          <li><a href="#" class="gplus-icon"></a></li>
        </ul>
      </div>
      <div class="col s12 m4 l3">
        <h5>&nbsp;</h5>
        <a href="#" class="btn white black-text">App Available on <img src="assets/img/apple-24.png"> <img src="assets/img/google-play-24.png"></a>
      </div>
    </div>
    <div class="footer-copyright">&copy; 2015, 72fit.com. All Rights Reserved.</div>
  </div>
</footer>